 <!-- Page 3 -->
<div class="bg-light-subtle">
    <div class="container">
        <div class="row py-5">
            <div
                class="d-flex flex-column justify-content-center section-hero">
                <div class="row ">
                    <div
                        class="col-12 col-lg-6 d-flex align-items-center justify-content-center">
                        <img id="about-img" class="w-75"
                            src="assets/image1-1.png" alt="hero">
                    </div>

                    <!-- Col1 -->
                    <div
                        class="col-12 col-lg-6 py-3 d-flex flex-column justify-content-center text-center text-lg-start">
                        <!-- Tagline -->
                        <h6 class="text-muted"># Tentang Saya</h6>

                        <!-- Title -->
                        <h3 class="fw-bold text-dark-emphasis">
                            Mau Lebih dekat dengan saya?
                        </h3>

                        <!-- Deskripsi -->
                        <p>
                            "Saya adalah seorang pengembang web, lokas di Palangkaraya - Kalimantan Tengah. Berpengalaman lebih dari 1 tahun dalam membangun proyek digital untuk berbagai skala bisnis."
                        </p>

                        <!-- Button -->
                        <div>
                            <a href="#contact"
                                class="btn btn-lg btn-secondary fw-bold p-3 my-3"
                                download>Lihat Lebih Lanjut</a>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>