 <!-- Page 4 -->
<div class="bg-dark-subtle">
    <div class="container">
        <div class="row py-5">
            <div
                class="d-flex flex-column justify-content-center"
                style="min-height: 100vh;">
                <div class="row ">
                    <!-- Col1 -->
                    <div
                        class="col-12 col-lg-6 py-3 d-flex flex-column justify-content-center text-center text-lg-start">
                        <!-- Tagline -->
                        <h6 class="text-muted"># Proyek
                            unggulan</h6>

                        <!-- Title -->
                        <h3 class="fw-bold text-dark-emphasis">
                            Pengalaman Kerja & Kolaborasi
                        </h3>

                        <!-- Deskripsi -->
                        <p>
                            "Berikut adalah beberapa proyek penting dan pengalaman yang saya miliki, baik secara individu maupun bersama tim."
                        </p>

                        <!-- Button -->
                        <div>

                            <a href="#porto"
                                class="btn btn-lg btn-secondary fw-bold p-3 my-3"
                                download>Lihat Portofolio</a>
                        </div>
                    </div>

                    <div
                        class="col-12 col-lg-6 d-flex align-items-center justify-content-center">
                        <img class="w-75"
                            src="assets/image0.png"
                            alt="hero">

                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
