
<!-- Page 5 -->
<div class="bg-light-subtle">
    <div class="container">
        <div
            class="d-flex flex-column py-5 justify-content-center align-items-center"
            style="min-height: 100vh;">
            <div class="col-12 text-center mb-5">
                <!-- Tagline -->
                <h6 class="text-muted"># Portofolio Terbaru</h6>
                <!-- Headline -->
                <h4
                    class="fw-bold">Lihat karya saya</h4>
            </div>
            <div class="row">
                <!-- Card 1 -->
                <div class="col-md-4 mb-2">
                    <div class="card h-100 text-center shadow border-0 pb-3">
                        <div class="card-body">
                            <div
                                class="d-flex justify-content-center align-items-center"
                                style="height: 200px;">
                                <img class="w-75 container-fluid"
                                    src="assets/image4.png"
                                    alt="Website UMKM">
                            </div>
                            <h5 class="mt-3 card-title fw-bold">Website
                                UMKM</h5>
                            <ul class="card-text text-start mx-auto"
                                style="max-width: 250px;">
                                <li>Desain modern & profesional</li>
                                <li>Kecepatan akses tinggi</li>
                                <li>SEO friendly untuk promosi</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- Card 2 -->
                <div class="col-md-4 mb-2">
                    <div class="card h-100 text-center shadow border-0 pb-3">
                        <div class="card-body">
                            <div
                                class="d-flex justify-content-center align-items-center"
                                style="height: 200px;">
                                <img class="w-75" src="assets/image3.png"
                                    alt="Aplikasi Kasir Android">
                            </div>
                            <h5 class="mt-3 card-title fw-bold">Aplikasi Kasir
                                Android</h5>
                            <ul class="card-text text-start mx-auto"
                                style="max-width: 250px;">
                                <li>Tampilan intuitif & mudah digunakan</li>
                                <li>Desain menarik & estetis</li>
                                <li>Mempermudah proses transaksi</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- Card 3 -->
                <div class="col-md-4 mb-2">
                    <div class="card h-100 text-center shadow border-0 pb-3">
                        <div class="card-body">
                            <div
                                class="d-flex justify-content-center align-items-center"
                                style="height: 200px;">
                                <img class="w-75" src="assets/image2.png"
                                    alt="UI Redesign Produk">
                            </div>
                            <h5 class="mt-3 card-title fw-bold">UI Redesign
                                Produk</h5>
                            <ul class="card-text text-start mx-auto"
                                style="max-width: 250px;">
                                <li>Perombakan desain agar modern</li>
                                <li>Meningkatkan pengalaman pengguna</li>
                                <li>Mendukung branding visual</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>