 <!-- Page 1 -->
<div class="bg-light-subtle">
    <div class="container">
        <div class="row py-5">
            <div
                class="d-flex flex-column justify-content-center section-hero">
                <div class="row ">
                    <!-- Col1 -->
                    <div
                        class="col-12 col-lg-6 d-flex flex-column justify-content-center text-center text-lg-start mb-5 py-3">
                        <!-- Tagline -->
                        <h6 class="mb-3">
                            <span
                                class="badge bg-secondary-subtle text-light-emphasis">Hi,
                                I'm...</span>
                        </h6>

                        <!-- Title -->
                        <h1 class="fw-bold text-dark-emphasis">
                            Web Developer,
                        </h1>
                        <h2 class="fw-bold text-dark-emphasis">
                            Designer & Freelancer
                        </h2>

                        <!-- Deskripsi -->
                        <p class="mb-5">
                            "Saya membangun website yang
                            fungsional
                            dan menarik, fokus pada UX dan
                            performa."
                        </p>

                        <!-- Button -->
                        <div>
                            <a href="cv.pdf"
                                class="btn btn-lg btn-secondary fw-bold px-5 py-3"
                                download>Download CV</a>
                        </div>
                    </div>

                    <div
                        class="col-12 col-lg-6 d-none d-md-flex align-items-center justify-content-center">
                        <img class="w-75"
                            src="https://avatars.githubusercontent.com/u/112231170"
                            alt="hero">

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>