 <!-- Page 2 -->
<div class="bg-dark-subtle">
    <div class="container">
        <div
            class="d-flex flex-column py-5 justify-content-center align-items-center"
            style="min-height: 100vh;">
            <div class="col-12 text-center mb-5">
                <!-- Tagline -->
                <h6 class="text-muted"># Spesialisasi saya</h6>
                <!-- Headline -->
                <h4
                    class="fw-bold">Apa saja
                    yang saya kerjakan?</h4>
            </div>
            <div class="row">
                <!-- Card 1 -->
                <div class="col-md-4 mb-4">
                    <div class="card h-100 text-center border-0 shadow">
                        <div class="card-body">
                            <i class="bi bi-globe fs-1 text-primary mb-3"></i>
                            <h5 class="card-title fw-bold">Website</h5>
                            <p class="card-text">
                                Membangun website modern dengan
                                performa cepat, desain responsif, dan ramah
                                pengguna agar usaha Anda lebih dikenal.
                            </p>
                        </div>
                    </div>
                </div>

                <!-- Card 2 -->
                <div class="col-md-4 mb-4">
                    <div class="card h-100 text-center border-0 shadow">
                        <div class="card-body">
                            <i class="bi bi-phone fs-1 text-success mb-3"></i>
                            <h5 class="card-title fw-bold">Aplikasi
                                Android</h5>
                            <p class="card-text">
                                Mendesain aplikasi Android dengan tampilan
                                intuitif, mudah digunakan, dan mendukung
                                kegiatan anda secara efisien.
                            </p>
                        </div>
                    </div>
                </div>

                <!-- Card 3 -->
                <div class="col-md-4 mb-4">
                    <div class="card h-100 text-center border-0 shadow">
                        <div class="card-body">
                            <i class="bi bi-brush fs-1 text-warning mb-3"></i>
                            <h5 class="card-title fw-bold">UI / UX Desain</h5>
                            <p class="card-text">
                                Membantu klien memperbarui/membuat desain
                                antarmuka
                                produk agar lebih menarik, profesional, dan
                                sesuai kebutuhan digital mereka.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>