<!-- Navbar -->
<div class="navbar py-3 fixed-top bg-body-tertiary">
    <div class="container d-flex justify-content-between">
        <div class="d-flex align-items-center gap-2">
            <img src="https://avatars.githubusercontent.com/u/112231170"
                width="50" height="50" class="me-1">
            <a
                class="text-decoration-none text-dark-emphasis align-middle"
                href="https://riyanfazrirahman.github.io/">
                <h6 class="m-0 fw-bold"> Portofolio </h6>
                <span>riyanfazrirahman</span>
            </a>
        </div>
        <div class="badge">
            <button class="theme-toggle" onclick="toggleTheme()">
                <i class="bi bi-moon-fill"></i>
            </button>
        </div>
    </div>
</div>