/* style CSS */
* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  padding: 0 25%;
}
@media (max-width: 900px) {
  body {
    padding: 0 5px;
  }
}

header {
  text-align: center;
}
header h1 {
  margin-top: 20px;
}
section {
  margin: 10px 0;
}

a {
  text-decoration: none;
}

#showLuasSegitiga {
  display: block;
}

#showKelilingSegitiga {
  display: none;
}

.btn {
  margin: 5px 0;
  color: #2880b9;
  border: 2px solid #2880b9;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
}
.btn-nav {
  width: 100%;
}
.btn:hover {
  background-color: #2880b9;
  border: 2px solid white;
  color: white;
}

.btn-active {
  background-color: #2880b9;
  color: white;
}
main {
  margin: 50px 0;
  border: 2px solid #2880b9;
}

main header {
  background-color: #2880b9;
  color: white;
  padding: 20px;
}
article {
  padding: 20px;
}
.content {
  background-color: #2880b9;
}
.rumus {
  display: flex;
  justify-content: center;
}
img {
  width: 150px;
}
.judul-hitung {
  text-align: center;
  color: white;
  margin-bottom: 20px;
}

input {
  width: calc(100% - 24px);
  padding: 10px 10px;
  border: 2px solid #2880b9;
  border-radius: 5px;
  font-size: 18px;
  margin-bottom: 10px;
}
.box-hitung {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}
.btn-hitung {
  width: 30%;
  text-align: center;
  border: 2px solid limegreen ;
}
.btn-hitung:hover{
  background-color: limegreen;
}

.btn-reset {
  width: 30%;
  position: relative;
  margin: 5px 0;
  color: salmon;
  border: 2px solid salmon;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
}
.btn-reset:hover {
  background-color: salmon;
  border: 2px solid white;
  color: white;
}
@media (max-width: 900px) {
  .btn-hitung {
    width: 50%;
  }
  .btn-reset {
    width: 50%;
  }s
}

.box-hasil {
  border-radius: 5px;
  margin-top: 20px;
}
.isi-hasil {
  width: calc(100% - 24px);
  padding: 10px 10px;
  font-size: 18px;
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 50px;
  color: #2880b9;
  border-radius: 5px;
  bottom: unset;
  cursor: unset;
}

#jawabanLuas {
  display: none;
  color: white;
}
#jawabanKeliling {
  display: none;
  color: white;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
}

footer p {
  padding: 10px;
  border-top: 1px solid gray;
  text-align: center;
}
