* {
  margin: 0;
  padding: 0;
  font-family: "Franklin Gothic Medium";
}
/* background */
.bg-1 {
  background-color: #0096d1;
  color: #fff4ea;
}
.bg-2 {
  background-color: #fff4ea;
  color: #0096d1;
}
.bg-3 {
  background-color: #a8ead5;
  color: #3ebdc6;
}
.bg-4 {
  background-color: #3ebdc6;
  color: #fff4ea;
}

/* text */
.text-center {
  text-align: center;
}

/* padding */
.p-2 {
  padding: 20px;
}
.pt-2 {
  padding-top: 20px;
}

/* pembungkus */
.container {
  width: 100%;
}
#containerResult {
  display: none;
}

/* inputan */
#formInput {
  display: none;
  gap: 10px;
  padding: 5px;
}

.inputan {
  border-radius: 5px;
  border: 2px solid #0096d1;
  width: calc(100% - 24px);
  padding: 10px 10px;
}

/* button */
.btn {
  background-color: #3ebdc6;
  color: #fff4ea;
  padding: 10px;
  margin: 5px;
  border: 2px solid #3ebdc6;
  border-radius: 5px;
  width: 100%;
}
.btn:hover {
  filter: brightness(92%);
}

.btn-gauss {
  display: flex;
  justify-content: space-around;
}

/* tabel */
table {
  border-collapse: collapse;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #fff4ea;
  color: #0096d1;
  width: 100%;
}
table,
th,
td {
  border: 1px solid #0096d1;
}
th,
td {
  padding: 5px;
  text-align: center;
}

/* footer */
footer {
  position: relative;
  bottom: 0;
  width: 100%;
}

footer p {
  padding: 10px;
  margin-top: 30px;
  border-top: 1px solid gray;
  text-align: center;
}
